<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/cmp_files.css') }}">
  </head>
  <body>
    <div class="nav">
    </div>
    <h1>Similarity between files</h1>
    <div class="row1">
      <div class="col1">
      <img src="{{url_for('static', filename='images/textarea.png')}}" alt="image loading failed" />
       
      </div>

      <div class="col2">
       <img src="{{url_for('static', filename='images/arrow.png')}}" alt="image loading failed" />
        
      </div>

      <div class="col3">
       <img src="{{url_for('static', filename='images/textarea.png')}}" alt="image loading failed" />
       
       
      </div>
    </div>
    <hr>
    <div class="result">
      <p > {{ result }}</p>
    </div>





  </body>
</html>
